/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b9f6ca; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9575cd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8e24aa; 
}
